<h1>Hair Salon Database</h1>

<p>Name of stylist:</p>

<form action="/stylists" method="post">
  <label for="name">Add a stylist:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add stylist</button>
</form>

<br>

<% if @stylists.any?() %>
<p>Click on a stylist to see their clients:</p>

<ul>
  <% @stylists.each() do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stylists yet!</p>
<% end %>

<br>

<p> Add client to a stylist:</p>

<form action="/clients" method="post">
  <label for="stylist_id">Select a stylist</label>
  <select id='stylist_id' name='stylist_id' type='text'>
    <% @stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
  </select>
<br>
  <label for="description">Name of client and description of service:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add client</button>
</form>
