<h3>Add New Styist</h3>

<form action="/stylists" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Name the stylist:</label>
    <input class="form-control" id="name" name="name" type="text" placeholder="Stylist Name" autofocus>
    <button type="submit" class="button btn">Add Stylist</button>
  </div>
</form>
